* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: roboto, san serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #cc99ff;
  }

.header {
  display: flex;
}
.title {
  width: 100%;
  height: 100px;
  font-size: 28px;
  text-align: center;
  color: #800080;
  text-shadow: 1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 1px #ffffff;
  }


.memory-game {
  width: 600px;
  height: 600px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 500px;
}

.memory-card {
  width: 130px;
  height: 130px;
  margin: 8px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

.memory-card:active {
transform: scale(0.90);
transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}


.item-front,
.item-back {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  border: 0.4px solid white;
  backface-visibility: hidden;
  }

.item-front {
  background: blanchedalmond;
  background-image: linear-gradient(#ff3333, #ff8533, #ffff33, #8cff1a, #00bfff, #6666ff, #d279a6);
}

.item-back {
  background-color: #ffffff;
  transform: rotateY(180deg);
}

.item-front:hover {
  transform: scale(1.1);
}

.reset-all {
  position: absolute;
  height: 100px;
  width: 200px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #ff3377;
   opacity: 1;
   color: white;
   font-size: 16px;
   padding: 12px 24px;
   border: none;
   cursor: pointer;
   border-radius: 5px;
   text-align: center;
}

.reset-all:hover {
  background-color: #ff3377;

  }
