* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #ffcccc;
}
.title {
  width: 100%;
  height: 100px;
  text-align: center;
}

.memory-game {
  width: 700px;
  height: 700px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 500px;
}

.memory-card {
  width: 150px;
  height: 150px;
  margin: 10px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

.memory-card:active {
transform: scale(0.90);
transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.item-front,
.item-back {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  border: 0.4px solid white;
  backface-visibility: hidden;
  }

.item-front {
  background: blanchedalmond;
  background-image: linear-gradient(#ff3333, #ff8533, #ffff33, #8cff1a, #00bfff, #6666ff, #d279a6);
  }

.item-back {
  background-color: aqua;
  transform: rotateY(180deg);
}
